# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.venv/
.pytest_cache/

# Distribution / packaging
build/
dist/
wheels/
*.egg-info/
*.egg

# uv caches
.uv_cache/

#files
data/bronze/*
data/silver/*
data/evals/

!data/.gitkeep
!data/evals/.gitkeep
!data/bronze/.gitkeep
!data/silver/.gitkeep